<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Espaço Abeliano</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <div class="row my-3">
        <div class="col">
          <h1 class="text-center fw-bold">Serviços</h1>
        </div>
      </div>

      <div class="row my-5">
        <div class="row">
          <h2 class="fw-bold mb-4">Impressão 3D</h2>
          <div class="col-8">
            <p class="lead">
              A impressão 3D é um serviço de manufatura aditiva (insere material
              no produto). Ultilizamos a impressora 3D que aquece um filamento
              de plástico e o molda em finas camadas até que o produto esteja
              completo.<span style="font-weight: bold">
                O serviço é cobrado por hora de trabalho adicionado ao valor do
                filamento utilizado.</span
              >
            </p>
            <a class="icon-link" href="/contato">Faça um orçamento ></a>
          </div>
          <div class="col-4">
            <img src="./images/3dprinter.jpg" width="100%" class="rounded-3"/>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="row my-3">
          <h2 class="fw-bold mb-4">Fresadora CNC</h2>
          <div class="col-8">
            <p class="lead">
              A usinagem CNC é um serviço de manufatura subtrativa (retira
              material para criar o produto). Utilizamos uma máquina router CNC
              equipada com uma broca que corta o material até que o modelo
              criado no computador seja criado.<span style="font-weight: bold">
                O serviço é cobrado por hora adicionado ao valor do material
                utilizado.</span
              >
            </p>
            <a class="icon-link" href="/contato">Faça um orçamento ></a>
          </div>
          <div class="col-4">
            <img src="./images/cnc.jpg" width="100%" class="rounded-3"/>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="row my-3">
          <h2 class="fw-bold mb-4">Desenho CAD</h2>
          <div class="col-8">
            <p class="lead">
              O desenho CAD torna toda ideia em torna realidade. Por meio do
              desenho assistido por computador é criado o modelo digital de seus
              produtos, nele é possível ter uma melhor noção do estado final,
              falhas de design, além de gerar o modelo que será utilizado pela
              impressora 3D ou fresa CNC.<span style="font-weight: bold">
                O serviço é cobrado por hora.</span
              >
            </p>
            <a class="icon-link" href="/contato">Faça um orçamento ></a>
          </div>
          <div class="col-4">
            <img src="./images/cad.jpg" width="100%" class="rounded-3"/>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/rodape.ejs') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
